.comment {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    padding: 0.1rem;
    margin-top: 0.25rem;
}

.comment .left {
    padding-left: 0.5rem;
    width: 150px;
}

.comment .left img {
    position: relative;
    top: 5px;
}

.comment .left .author {
    position: center;
}

.comment .right {
    padding-left: 150px;
    font-size: 0.85rem;
    line-height: 2rem;
    padding-right: 0.5rem;
}